cpu/bentoml/*
!cpu/bentoml/bentos
!cpu/bentoml/models
!cpu/bentoml/example_request.py

gpu/bentoml/*
!gpu/bentoml/bentos
!gpu/bentoml/models
!gpu/bentoml/example_request.py

cpu/mlflow/cryptoanalytics/utils
cpu/mlflow/cryptoanalytics/.envs
cpu/mlflow/cryptoanalytics/.metrics

gpu/mlflow/cryptoanalytics/utils
gpu/mlflow/cryptoanalytics/.envs
gpu/mlflow/cryptoanalytics/.metrics


gpu/torchserve/serve/*
!gpu/torchserve/serve/model-store
!gpu/torchserve/serve/config.properties
!gpu/torchserve/serve/example_request.py

cpu/torchserve/serve/*
!cpu/torchserve/serve/model-store
!cpu/torchserve/serve/config.properties
!cpu/torchserve/serve/example_request.py